<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> LMS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/../../Public/style_course.css">
  <link rel="stylesheet" href="/../../Public/style.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>
  <div class="sidebar close_1">
    <div class="logo-details">
      <i class='bx bxs-chalkboard'></i>
      <span class="logo_name">LMS</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class='bx bx-user'></i>
          <span class="link_name">Username</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/">Username</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/adminCourses">
            <i class='bx bx-collection'></i>
            <span class="link_name">Courses</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/adminCourses">Courses</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="/adminViewAssesments/<%= CRN %>">
          <i class='bx bx-task'></i>
          <span class="link_name">Assesments</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/adminViewAssesments/<%= CRN %>">Assesments</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-notepad'></i>
          <span class="link_name">Materials</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Materials</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-bar-chart'></i>
          <span class="link_name">Grade Book</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Grade Book</a></li>
        </ul>
      </li>

      <li>
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="link_name">Log Out</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <h2><%= courseName.courseName %></h2>
    </div>

    <h1 style="text-align: center;padding-top: 10px;">Student Submissions</h1>
    <div class="assesmentMainSmallContainer">
      <!-- <div class="assesmentContainer"> -->
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Submitted File</th>
            <th scope="col">Grade</th>
            <th></th>
            <!-- <th scope="col">Posted Date</th> -->
          </tr>
        </thead>
        <tbody>
          <% if (submissions) { %>
          <% submissions.forEach(submission => { %>
          <tr>
            <td id="<%= submission.userID%>" class="studentName"><%= submission.firstName + " " + submission.lastName %></td>
            <td id="studentFile"><a id="fullFilePath" href="/<%= submission.submittedFile %>"> <%= submission.originalFileName %></td> </a>
            <% if (submission.grade != null) { %>
            <td><%= submission.grade %></td>

            <% } else {  %>
            <td>N/A</td>
            <% } %>

            <td>
              <i style="cursor: pointer;" class='a bx bxs-plus-circle' data-toggle="modal" data-target="#exampleModalCenter"></i>
            </td>
          </tr>
          <% })} %>
        </tbody>
      </table>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Assign/Update Grade</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="updateGradeForm" action="/updateGrade" method="post">
                <div class="input-box">
                  <label for="newGrade">New Grade</label>
                  <input name="grade" type="number" placeholder="Type grade" required min="0" oninput="this.value = 
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script src="/../../Public/sidebar.js" defer></script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="/../../Public/updateGrades.js"></script>
</body>

</html>