<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../Public/loginStyle.css">
  <script src="./Public/browserJS.js" defer></script>
</head>

<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <br>
    <% if(messages.usernameConflict) { %>
    <div class="alert alert-danger" role="alert">
      <%= messages.usernameConflict %>
    </div>
    <% } %>

    <% if(messages.emailConflict) { %>
    <div class="alert alert-danger" role="alert">
      <%= messages.emailConflict %>
    </div>
    <% } %>

    <% if(typeof messages.validationErrors != 'undefined') {%>
    <% for(let i = 0; i < messages.validationErrors.length; i++) { %>
    <div class="alert alert-danger" role="alert">
      <%=messages.validationErrors[i]%>
    </div>
    <% } %> <% } %>

    <form action="/register" method="POST">
      <div class="input-box">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" placeholder="Enter your first name" required>
      </div>

      <div class="input-box">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" placeholder="Enter your last name" required>
      </div>

      <div class="input-box">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter your username" required>
      </div>

      <div class="input-box">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="input-box">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Create password" required>
      </div>

      <div class="input-box">
        <label for="passwordConfirmation">Confirm Password</label>
        <input type="password" name="passwordConfirmation" placeholder="Confirm password" required>
      </div>

      <div class="mb-3" id="registerClasses">

        <div class="registerDiv">
          <label for="validationCustom04" class="form-label">Register Your Classes</label>
        </div>

        <div class="selectDiv" id="selectDiv">
          <select name="registeredClasses" class="form-select" required>
            <option selected>Choose...</option>
            <% allCourses.forEach(course => { %>
            <option value=<%=course.CRN %>> <%= course.courseName %> </option>
            <% }) %>
          </select>
          <button type="button" id="addClassBtn" class="btn btn-dark">+</button>
        </div>
      </div>

      <div class="input-box button_1">
        <input type="Submit" value="Register">
      </div>

      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </form>
  </div>
</body>

</html>